.dividers {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.4);
}

.dividers_text {
  font-weight: 500;
  color: var(--color-dark);
}
