.presentation_container {
  background-color: var(--color-dark);
  display: flex;
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 640px;
}

.presentation_img {
  height: 31rem;
  position: absolute;
  bottom: -5rem;
  left: 2.7rem;
}

.presentation_intro {
  margin-top: 11.25rem;
  margin-left: 5rem;
  font-size: 2.2rem;
  font-weight: 100;
  color: var(--color-light);
  letter-spacing: 0.01em;
  line-height: 120%;
}

@media screen and (max-width: 1200px) {
  .presentation_container {
    display: none;
  }
}

@media all and (max-width: 1306px) {
  .presentation_container {
    width: 40%;
  }
}
